
salary_insight_tool/data/input/candidate_desired_salary.csv
salary_insight_tool/data/input/candidate_desired_salary_short.csv
salary_insight_tool/data/intermediate/clean_cds_df
salary_insight_tool/data/intermediate/flattened_cds_df.csv
salary_insight_tool/data/intermediate/role_skill_list.csv
salary_insight_tool/data/reference/cds_ref.csv
salary_insight_tool/data/intermediate/clean_cds_df.csv
